.all-cards-container {
    display: grid;
    grid-template-columns: repeat(300fr, minmax(300px, 1fr));
    grid-gap: 40px;
    margin: 10px;
}

.creator-card-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 10px;
    border: pink solid 1px;
    border-radius: 15px;
    overflow: hidden;
    
}
  
.creator-card {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #434141; 
    opacity: 0.7;
    color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  
  .bg-card-image {
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.creator-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px;
    text-align: center;
}

.top-icons {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.desc {
    margin: 10px;
    text-align: center;
}

.bottom-icons {
  display: flex;
  justify-content: center;
  margin: 5px;
  font-size: 50px;
}

.youtube-icon {
  color: red;
  margin: auto;
}

.info-icon, .edit-icon, .delete-icon {
   color: pink;
   padding: 10px;
}

.youtube-icon:hover, .info-icon:hover, .edit-icon:hover, .delete-icon:hover {
  color: white;
  cursor: pointer;
  transition: ease-out 0.1s;
}